*
!.gitignore
!README.md
!agent/
agent/*
!agent/extensions/
agent/extensions/*
!agent/extensions/**
agent/extensions/linear/credentials.json
!agent/settings.json
!agent/skills/
!agent/skills/**
agent/skills/herdr
!agent/extensions/subagent/
agent/extensions/subagent/*
!agent/extensions/subagent/config.json
